
		<% if @next_lines.count > 0 %>
			<div class="mini-box">
				Choose the next branch of the story: 
				<ul id="next-lines">
					<% @next_lines.each do |line| %>
						<li data-id="<%=line.id%>"><%= link_to line.text, line_path(line), :class => "select-next-line" %> </li>
					<% end %>
				</ul>
			</div>
		<% end %>

			<div class="new-line-box">

				<% if @next_lines.count == 0 %>

					<%= link_to new_line_path(:previous_line_id => @lines.last.id), :class => "new-line-link" do %>
						<span class="glyphicon glyphicon-edit"></span> The story ends here, or does it? ....  Create your own branch
					<% end %>
				<% else %>

				
				<%= link_to new_line_path(:previous_line_id => @lines.last.id), :class => "new-line-link" do %>
					<span class="glyphicon glyphicon-edit"></span> Create your own branch
				<% end %>
				<% end %>
				<div class="share">
					<ul class="nav navbar-nav">
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Share <span></span></a>
				          <ul class="dropdown-menu" role="menu">
				            <li>
				            	<a class="twitter-share-button"
								  href="https://twitter.com/share">
								Tweet
								</a>
								<script type="text/javascript">
								window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
								</script>
				            </li>
				            <div class="share-fb">
				            <li><a href="#">
				            	
				            	<div class="fb-share-button " data-width data-layout="button_count" data-href="http://wewrite.io/"> Share on Facebook</div>
				           
				            </a></li>
				             </div>

				            
				          </ul>
				        </li>
				      </ul>
									  
					
				</div>
			</div>
