<% unless @ajax %>
	<div class="row">
	<div class="col-lg-4">
	</div>

	<div class="col-lg-4">

	<%= render 'form' %>
	</div>
	<div class="col-lg-4">

	</div>

	</div>

<% else %>

	<%= render 'form' %>

<% end %>