<% @lines.each do |line| %>
	<%= link_to line.text, line_path(line) %>  
<% end %>


<% if @next_lines.count > 0 %>
	<div class="well">
		Next Lines: <br />
		<ul id="next-lines">
			<% @next_lines.each do |line| %>
				<li data-id="<%= line.id %>"><%= link_to line.text, line_path(line) %> </li>
			<% end %>
		</ul>
	</div>
<% end %>

<br />

<%= link_to '+ Add the next line', new_line_path(:previous_line_id => @lines.last.id) %>