<div class="box-container">
	<div class="box">
		<% @lines.each do |line| %>
			<%= link_to line.text, line_path(line) %>  
		<% end %>

	</div>
	<% if @next_lines.count > 0 %>
		<div class="mini-box">

				Next Lines: <br />
				<ul id="next-lines">
					<% @next_lines.each do |line| %>
						<li><%= link_to line.text, line_path(line) %> </li>
					<% end %>
				</ul>

		</div>

	<% end %>

			<div class="new-line-box">

				<% if @next_lines.count == 0 %>

				<%= link_to "The story ends here, or does it? .... + Add new line", new_line_path(:previous_line_id => @lines.last.id) %> 
				<% else %>
				
				<%= link_to '+ Add new line', new_line_path(:previous_line_id => @lines.last.id) %>
				<% end %>
			</div>

</div>