/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*HOME PAGE*/
.box-container a.btn-info {
	color: white;
}

.container {
	position: relative;
	width: 75%;
	padding: 20px;
	min-height: 50px;
	margin: 10px auto;
	background-color: white;
	
}

.flash {
	margin-left: auto;
	margin-right:auto;
	text-align:center;
	background-color: gainsboro;
	padding: 15px;
	margin-bottom:10px;

	width: 50%;

	border-style:solid;
	border-color:darkgray;
	border-width:2px;

	@media(max-width:480px) {
		width: 100%;
	}
}

.navbar {
	font-family: 'Cardo', serif;
}

/*LINES PAGE*/
body {
	font-family: 'Cardo', serif;
	font-size: 15px;

	a {
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}

.welcome {
	width: 50%;
	float: left;
	margin-right: 300px;

}
.start {
	width: 10%;
	float: left;
}
.clear {
	clear: both;
}

.box-container a {
	color:black;
	text-decoration: none;
}

.box {
	position: relative;
	width: 75%;
	padding: 50px;
	min-height: 400px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0px 1px 2px #888888;
}

.mini-box {
	position: relative;
	width: 75%;
	padding: 20px;
	min-height: 100px;
	margin: 10px auto;
	background-color: gainsboro;
	box-shadow: 0px 1px 2px #888888;

}
.new-line-box {
	position: relative;
	width: 75%;
	padding: 20px;
	min-height: 50px;
	margin: 10px auto;

}
.share {
	float:right;
	margin-top: -15px;
}

.page-wrap:after {
  height: 50px; 
}

.story-link {
	padding-bottom: 2px;

}


.panel-footer {

	position:absolute;
	bottom: 0px;
	width: 100%;
	height: 50px;
	padding: 5px;
	
	
}
.panel-footer a {
	color:black;
}

.navbar-brand a {
	color: #777777;
	text-decoration: none;
}
//profile
.pro-box a {
	color:black;
	margin: 10px;
}
.prof-icon {
	border-radius:10px;
	width: 24px;
	height: 24px
}
.icon-bg {
	border-radius:10px;
}

.collaborators .prof-icon {
	margin: 2px;
}

.pad-left {
	padding-left: 5px;
	margin-left: 10px;
}

input[type=submit].btn {
 
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}


input[type=submit].btn.btn-default {

  color: #333333;
  background-color: white;
  border-color: #cccccc;

}

.story {
	.depth {
		// float: left;
		margin-right: 10px;
		margin-top: 2px;
		margin-left: 5px;
		background-color:silver;
		width: 25px;
		height: 25px;
		text-align:center;
		border-radius: 15px;
		color:white;
		font-size: 1.2em;
		display:inline-block;
	}

	min-height: 30px;

	&:hover {
		background-color:gainsboro;
	}

	div.story-link {
		// float:left;
		display:inline-block;
		// margin-left:40px;
		margin-top:3px;
		max-width: 70%;
	}
}
.share-fb {
	float: left;
	font-family: 'Cardo', serif;
	font-size: 15px;
}
.dropdown {
	width: 150px;
}

.selected { 
	font-weight: bold;
	font-size:1.1em;
}
.row .depth {
		// float: left;
		margin-right: 10px;
		margin-top: 2px;
		margin-left: 5px;
		background-color:silver;
		width: 25px;
		height: 25px;
		text-align:center;
		border-radius: 15px;
		color:white;
		font-size: 1.2em;
		display:inline-block;
	}

	.stats {
		overflow: auto;
		width: 155px;
  		margin: 0 auto;
  		padding: 0;
  		background-color:gainsboro;
	}
.follow {

	margin: 0 auto;
}

//about page

.box .img {
	height:auto;
	width:auto;
}


.tree-link {
	float:right;
}

//signup page
.signup {
	margin: 0 auto;
	text-align:center;

}
.box-container a.signup.btn {
	color:white;
}