<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Come write with me!</h1>
    <p>I've just written "<%= @line.text %>" in a story.</p>
    <p> Sign up and help me write this story!</p>
    <h3><%= link_to 'Check it out!', line_path(@line) %></h3>

    <p>Looking forward to writing with you!</p>
<%= @user.name %>
  </body>
</html>
