<div class="box-container">
	<div id="story" class="box">
		
		<h3>What is WeWrite?</h3>
		<p>WeWrite allows you to create and share stories together. Create stories one line at a time. Each line is a new direction the story can take. You can add as many versions of each line as you want. This gives your story life and allows it to grow in an infinite number of directions.</p>

		<p>When reading a story you can pick the lines that are most interesting to you, choosing your own adventure and exploring the different directions a single story can take you. <strong>Our mission is to foster communication, collaboration, and creativity</strong></p>

		<p> Have feedback? Ideas? <br />Send us an <%= link_to 'email', 'mailto:wewrite7@gmail.com' %>! </p>


	</div>	
</div>