<div class="box-container">
	<div id="story" class="box">
		<h1>What is WeWrite?</h1>
		<p>WeWrite allows you to create and share stories together. Create stories one line at a time. Each line is a new direction the story can take. You can add as many versions of each line as you want. This gives your story life and allows it to grow in an infinite number of directions.</p>

		<p>When reading a story you can choose the lines that are most interesting to you.</p>
	</div>	
</div>